In [2]:
df = {
    'first': ['John', 'Jane', 'Jim' , 'harsh', 'khushi' , 'heet' , 'neel'],
    'last': ['Doe', 'Smith', 'Beam' , 'bhatt', 'panchal' , 'Shah' , 'Arora'],
    'email': ['johndoe@gmail.com', 'janesmith@gmail.com', 'jimbeam@gmail.com', 'harshbhatt@gmail.com', 'khushipanchal@gmail.com', 'heetshah@gmail.com', 'neelarora@gmail.com']
}

In [3]:
import pandas as pd
df = pd.DataFrame(df)

In [4]:
df

    first     last                    email
0    John      Doe        johndoe@gmail.com
1    Jane    Smith      janesmith@gmail.com
2     Jim     Beam        jimbeam@gmail.com
3   harsh    bhatt     harshbhatt@gmail.com
4  khushi  panchal  khushipanchal@gmail.com
5    heet     Shah       heetshah@gmail.com
6    neel    Arora      neelarora@gmail.com

In [5]:
df.info

<bound method DataFrame.info of     first     last                    email
0    John      Doe        johndoe@gmail.com
1    Jane    Smith      janesmith@gmail.com
2     Jim     Beam        jimbeam@gmail.com
3   harsh    bhatt     harshbhatt@gmail.com
4  khushi  panchal  khushipanchal@gmail.com
5    heet     Shah       heetshah@gmail.com
6    neel    Arora      neelarora@gmail.com>

In [6]:
df.shape

(7, 3)

In [7]:
df.head()

    first     last                    email
0    John      Doe        johndoe@gmail.com
1    Jane    Smith      janesmith@gmail.com
2     Jim     Beam        jimbeam@gmail.com
3   harsh    bhatt     harshbhatt@gmail.com
4  khushi  panchal  khushipanchal@gmail.com

In [8]:
df.tail()

    first     last                    email
2     Jim     Beam        jimbeam@gmail.com
3   harsh    bhatt     harshbhatt@gmail.com
4  khushi  panchal  khushipanchal@gmail.com
5    heet     Shah       heetshah@gmail.com
6    neel    Arora      neelarora@gmail.com

In [9]:
df[['last','email']]

      last                    email
0      Doe        johndoe@gmail.com
1    Smith      janesmith@gmail.com
2     Beam        jimbeam@gmail.com
3    bhatt     harshbhatt@gmail.com
4  panchal  khushipanchal@gmail.com
5     Shah       heetshah@gmail.com
6    Arora      neelarora@gmail.com

In [10]:
df.iloc[0]

first                 John
last                   Doe
email    johndoe@gmail.com
Name: 0, dtype: object

In [11]:
df.loc[4]

first                     khushi
last                     panchal
email    khushipanchal@gmail.com
Name: 4, dtype: object

In [12]:
df.columns = ['First_name','Last_name','E-mail']
df

  First_name Last_name                   E-mail
0       John       Doe        johndoe@gmail.com
1       Jane     Smith      janesmith@gmail.com
2        Jim      Beam        jimbeam@gmail.com
3      harsh     bhatt     harshbhatt@gmail.com
4     khushi   panchal  khushipanchal@gmail.com
5       heet      Shah       heetshah@gmail.com
6       neel     Arora      neelarora@gmail.com

In [13]:
df.columns = [x.upper()for x in df.columns]
df

  FIRST_NAME LAST_NAME                   E-MAIL
0       John       Doe        johndoe@gmail.com
1       Jane     Smith      janesmith@gmail.com
2        Jim      Beam        jimbeam@gmail.com
3      harsh     bhatt     harshbhatt@gmail.com
4     khushi   panchal  khushipanchal@gmail.com
5       heet      Shah       heetshah@gmail.com
6       neel     Arora      neelarora@gmail.com

In [14]:
df.columns = [x.lower()for x in df.columns]
df

  first_name last_name                   e-mail
0       John       Doe        johndoe@gmail.com
1       Jane     Smith      janesmith@gmail.com
2        Jim      Beam        jimbeam@gmail.com
3      harsh     bhatt     harshbhatt@gmail.com
4     khushi   panchal  khushipanchal@gmail.com
5       heet      Shah       heetshah@gmail.com
6       neel     Arora      neelarora@gmail.com

In [15]:
df.columns = df.columns.str.replace('_',' ')

In [16]:
df

  first name last name                   e-mail
0       John       Doe        johndoe@gmail.com
1       Jane     Smith      janesmith@gmail.com
2        Jim      Beam        jimbeam@gmail.com
3      harsh     bhatt     harshbhatt@gmail.com
4     khushi   panchal  khushipanchal@gmail.com
5       heet      Shah       heetshah@gmail.com
6       neel     Arora      neelarora@gmail.com

In [17]:
df.value_counts()

first name  last name  e-mail
Jane        Smith      janesmith@gmail.com        1
Jim         Beam       jimbeam@gmail.com          1
John        Doe        johndoe@gmail.com          1
harsh       bhatt      harshbhatt@gmail.com       1
heet        Shah       heetshah@gmail.com         1
khushi      panchal    khushipanchal@gmail.com    1
neel        Arora      neelarora@gmail.com        1
Name: count, dtype: int64

In [18]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [19]:
df.set_index('e-mail')

                        first name last name
e-mail
johndoe@gmail.com             John       Doe
janesmith@gmail.com           Jane     Smith
jimbeam@gmail.com              Jim      Beam
harshbhatt@gmail.com         harsh     bhatt
khushipanchal@gmail.com     khushi   panchal
heetshah@gmail.com            heet      Shah
neelarora@gmail.com           neel     Arora

In [20]:
df.reset_index(inplace=True)

In [21]:
df

   index first name last name                   e-mail
0      0       John       Doe        johndoe@gmail.com
1      1       Jane     Smith      janesmith@gmail.com
2      2        Jim      Beam        jimbeam@gmail.com
3      3      harsh     bhatt     harshbhatt@gmail.com
4      4     khushi   panchal  khushipanchal@gmail.com
5      5       heet      Shah       heetshah@gmail.com
6      6       neel     Arora      neelarora@gmail.com

In [22]:
df.rename(columns={'first name' : 'first'},inplace=True)
df

   index   first last name                   e-mail
0      0    John       Doe        johndoe@gmail.com
1      1    Jane     Smith      janesmith@gmail.com
2      2     Jim      Beam        jimbeam@gmail.com
3      3   harsh     bhatt     harshbhatt@gmail.com
4      4  khushi   panchal  khushipanchal@gmail.com
5      5    heet      Shah       heetshah@gmail.com
6      6    neel     Arora      neelarora@gmail.com

In [23]:
df.rename(columns={'first' : 'first name'},inplace=True)
df

   index first name last name                   e-mail
0      0       John       Doe        johndoe@gmail.com
1      1       Jane     Smith      janesmith@gmail.com
2      2        Jim      Beam        jimbeam@gmail.com
3      3      harsh     bhatt     harshbhatt@gmail.com
4      4     khushi   panchal  khushipanchal@gmail.com
5      5       heet      Shah       heetshah@gmail.com
6      6       neel     Arora      neelarora@gmail.com

In [24]:
df.rename(columns={'first name' : 'First Name', 'last name' : 'Last Name', 'e-mail' : 'E-mail'}, inplace=True)
df

   index First Name Last Name                   E-mail
0      0       John       Doe        johndoe@gmail.com
1      1       Jane     Smith      janesmith@gmail.com
2      2        Jim      Beam        jimbeam@gmail.com
3      3      harsh     bhatt     harshbhatt@gmail.com
4      4     khushi   panchal  khushipanchal@gmail.com
5      5       heet      Shah       heetshah@gmail.com
6      6       neel     Arora      neelarora@gmail.com