In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv(r"C:\Users\hb292\Downloads\flu_dataset_1000.csv")
df

    chills runny_nose headache flu
0        Y          Y        N   N
1        N          N        N   Y
2        N          Y        Y   Y
3        Y          N        N   N
4        Y          Y        N   Y
..     ...        ...      ...  ..
995      N          Y        Y   N
996      Y          N        Y   Y
997      Y          Y        N   Y
998      Y          N        Y   Y
999      Y          Y        Y   N

[1000 rows x 4 columns]

In [4]:
df = df.replace({"Y": 1, "N": 0})

C:\Users\hb292\AppData\Local\Temp\ipykernel_26484\1143999843.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({"Y": 1, "N": 0})

In [5]:
df

     chills  runny_nose  headache  flu
0         1           1         0    0
1         0           0         0    1
2         0           1         1    1
3         1           0         0    0
4         1           1         0    1
..      ...         ...       ...  ...
995       0           1         1    0
996       1           0         1    1
997       1           1         0    1
998       1           0         1    1
999       1           1         1    0

[1000 rows x 4 columns]